Source: ros-melodic-open-manipulator-p
Section: misc
Priority: optional
Maintainer: Will Son <willson@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/open_manipulator_p
Standards-Version: 3.9.2

Package: ros-melodic-open-manipulator-p
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-open-manipulator-p-control-gui, ros-melodic-open-manipulator-p-controller, ros-melodic-open-manipulator-p-description, ros-melodic-open-manipulator-p-libs, ros-melodic-open-manipulator-p-teleop
Description: Metapackage for OpenMANIPULATOR-P
